.suit-home{
    background-image: url('../images/suit_home_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.suit-about{
    padding: 20px;
}

.suit-home .content{
    max-width: 50vw;
    padding: 50px;
}

.suit-home .content .slogan{
    padding-bottom: 30px ;
}

.suit-home .btn{
    text-shadow: 1px 1px 2px black;
}

.suit-page .desc{
    font-size: 30px;
    padding: 50px;
    padding-bottom: 0;
}

.blue-bg{
    background-color: #bbdefb;
    padding: 20px;
}

.step-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.step-cards .about-card .about-image img{
    width: 20vw;
}

.step-cards .about-card .about-desc{
    font-size: 20px;
}


@media screen and (max-width:1000px){
    .slogan{
        font-size: 45px;
    }
    .tagline{
        font-size: 30px;
    }
    .btn {
        font-size: 30px;
    }
}


@media screen and (max-width:800px){

    .suit-home .content{
        max-width: 95vw;
    }
    .slogan{
        font-size: 35px;
        text-align: center;
        padding-bottom: 20px;
    }
    .tagline{
        font-size: 25px;
        text-align: center;
    }
    .btn a{
        font-size: 25px;
        text-align: center;
    }
    .suit-page .header{
        font-size: 35px;
    }
    .suit-page .desc{
        font-size: 20px;
    }
    .about-cards{
        flex-direction: column;
        width: 90vw;
    }

}
